# Application
APP_NAME=/Users/abdullahkhan/Projects/mantiq/playground/react-app
APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=http://localhost:3000
APP_PORT=3000

# Database
DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=

# Session
SESSION_DRIVER=memory
SESSION_LIFETIME=120
SESSION_COOKIE=mantiq_session

# Cache
CACHE_STORE=memory
# REDIS_HOST=127.0.0.1
# REDIS_PORT=6379
# REDIS_PASSWORD=

# Queue
QUEUE_CONNECTION=sync

# Mail
MAIL_MAILER=log
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME=${APP_NAME}
# MAIL_HOST=localhost
# MAIL_PORT=587
# MAIL_USERNAME=
# MAIL_PASSWORD=

# Logging
LOG_CHANNEL=stack

# Hashing
HASH_DRIVER=bcrypt
BCRYPT_ROUNDS=10

# Broadcasting
BROADCAST_DRIVER=bun

# Filesystem
FILESYSTEM_DISK=local

# Search
# ALGOLIA_APP_ID=
# ALGOLIA_SECRET=
# MEILISEARCH_HOST=http://127.0.0.1:7700
# MEILISEARCH_KEY=

# Vite
VITE_DEV_SERVER_URL=http://localhost:5173
