APP_NAME=examples/kit-react
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:3000
APP_PORT=3000
APP_KEY=

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

VITE_DEV_SERVER_URL=http://localhost:5173
